/* ESTILOS GENERALES */
@font-face {
    font-family: "Roboto Light";
    src: url("font/Roboto-LightItalic.ttf");
    }
*{
    margin:0;
    padding:0;
    text-decoration: none;
    font-family: 'Roboto', Verdana;
}
body{
    background: white;
}
body, html{
    overflow-x: hidden;
}
.clearfix{
    clear: both;
    float: none;
}
.container{
    width: 85%;
    margin: 0 auto; /*Centrar un bloque*/
}

/*CABECERA*/

#main-header{
    background: white;
    height: 100px;
    line-height: 85px;
}
#logo{
    width: 63%;
    float: left;
}
#logo h1{
    font-family: 'Roboto Light';
    font-weight: bold;
    font-size: 25px;
    color: #FB314E;
}
#menu{
    width: 380px;
    float: left;
    display: inline;
}

#menu ul li{
    display: inline;
    list-style: none;
    float: none;
    margin-left: 15px;
    margin-right: 15px;
}
#menu ul li a{
    color: black;
}
#menu ul li a:hover{
    color: #FB314E;
}

/* SLIDER */

#slider{
    height: 300px;
    background: rgb(13, 162, 221);
}
#slider h2{
    font-size: 40px;
    color: white;
    text-align: center;
    line-height: 290px;
    text-shadow: 0 0 6px black;
}

/* SERVICIOS */

.subheader{
    font:34px;
    color: #333;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(252, 50, 81, 0.5) !important; 
}

.servicio{
    width: 33%;
    text-align: center;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
}
.servicio i{
    font-size: 50px;
    color: #FB314E;
    margin-bottom: 5px;
}
.servicio h3 {
    margin-bottom: 10px;
}
.servicio p{
    color: #444;
}

/* FOOTER */

#footer{
    background: #333;
    padding-top: 5px;
    padding-bottom: 40px;
    margin-top: 30px;
    text-align: center;
    color: white; 
}
#footer .subheader{
    color: white;
} 
#networks{
    display: block;
    width: 220px;
    margin: 0px auto;
    list-style: none;
    margin-bottom: 20px;
    margin-top: 20px;
}

#networks li{
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    transition: all 300ms; 
}
#networks li i{
    font-size: 32px;
    color: white;
}
#networks li:hover{
    opacity: 0.8;
    transform: scale(1.1, 1.1);
}

@media all and (max-width:1225px){
    .container{
        width: 95%;
    }
}
@media all and (max-width:1085px){
    #main-header{
        height: auto;
        line-height: 65px;
    }
    #logo{
        width: 290px;
        float: left;
        margin: 0 auto;
    }

    #menu{
        float: none;
        text-align: center;
        margin: 0 auto;
    }
}
@media all and (max-width:1000px){
    #main-header{
        height: auto;
        line-height: 65px;
    }
    #logo{
        width: 30%;
        float: left;
        margin: 0 auto;
    }

    #menu{
        float: none;
        text-align: center;
        margin: 0 auto;
    }
    #slider{
        overflow: hidden;
    }
    #slider h2{
        font-size: 5vw; 
    }
}
    @media all and (max-width:644px){
        #main-header{
            height: auto;
            line-height: 65px;
        }
        #logo{
            text-align: center;
            width: 100%;
            float: none;
            margin: 0 auto;
        }
    
        #menu{
            float: none;
            text-align: center;
            margin: 0 auto;
        }
        #slider h2{
            font-size: 5vw; 
        }
    }
    @media all and (max-width:444px){
        #main-header{
            height: auto;
            line-height: 65px;
        }
        #logo{
            text-align: center;
            width: 100%;
            float: none;
            margin: 0 auto;
        }
    
        #menu{
            float: none;
            text-align: center;
            margin: 0 auto;
        }
        #menu ul li{
            display: block;
        }
        #slider h2{
            margin-top: 100px;
            line-height: 40px;
        }
    }
    @media all and (max-width:280px){
        *{
            display: none;
        }
    }

    @media all and (max-width: 860px){
        .servicio{
            width: 70%;
            float: none;
            margin: 0 auto;
            margin-top: 20px;
            margin-bottom: 40px;
        }
        .servicio p{
            margin-top: 12.5px;
        }
        .servicio i{
            font-size: 70px;
        }
    }
